@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700);

html, body
  font-family: 'Roboto', sans-serif
  height: 100%
  width:  100%

body
  &.modal-visible
    overflow: hidden
    
    .modal-view
      display: block

.text-light
  color: lighten(#000, 75%)
  font-weight: 200

.row.working-header
  background: #000
  color: #fff
  
  &.in-progress
    background: green

.top-row
  padding: 30px 0
  margin-bottom: 60px
  display: flex
  
  .logo
    > img
      max-width: 100px
      
  .site-descr
    max-width: 450px
    font-size: 12px
      
.nav-categories
  ul
    list-style-type: none
    margin: 0
    padding: 0
    
    li
      a
        color: #000
        font-weight: 500


        
.photo-container
  column-count: 4
  -moz-column-count: 4
  -webkit-column-count: 4
  column-width: 200px
  -moz-column-width: 200px
  -webkit-column-width: 200px
  column-gap: 1px
  -moz-column-gap: 1px
  -webkit-column-gap: 1px
  column-fill: auto
  -webkit-column-fill: auto
  -moz-column-fill: auto
  
  figure
    margin-bottom:       1px
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    
    img
      width: 100%
      

.modal-view
  display:    none
  position:   fixed
  top:        0
  left:       0
  height:     100%
  width:      100%
  background: rgba(0,0,0,.6)
  z-index:    1
  overflow-y: scroll
  
  .content-container
    margin-top: 20px
    
    .nav-row
      margin-bottom: 20px
      .close-modal-button
        width:      50px
        height:     50px
        background: #000
        float:      right
        position:   relative
        
        &:after
          content: " "
          display: block
          background: #fff
          height: 75%
          width: 1px
          transform: rotate(45deg)
          position: absolute
          right: 50%
          top: 7px

        &:before
          content:    " "
          display:    block
          background: #fff
          height:     75%
          width: 1px
          transform: rotate(-45deg)
          position: absolute
          right: 50%
          top: 7px

    .sidebar      
      .item
        background: #fff
        padding:    20px
        margin-bottom: 10px
        &.author
          display:        table
          width:          100%
          border-bottom:  #eee 1px solid
          padding-bottom: 10px
          
          .img,.name
            display: table-cell
            vertical-align: middle
          
          .img
            width: 40px
            
            .author-image
              background-size:  cover
              height:           40px
              width:            40px
              border-radius:    50px
          
          .name
            padding-left: 10px
        
        img
          width: 100%

    .post-view
      height: 100%
      
      img
        width: 100%

.comments-route-template
  margin-top: 10px
  & > div.col-sm-12
    .inner
      background: rgba(255,255,255,.9)
      text-align: left
      padding: 20px
      
      ul
        margin: 0
        padding: 0
        list-style-type: none
        
        li
          border-bottom: #ddd 1px solid
          padding: 20px 0

#image-upload-wrapper
  input[type="file"]
    display: none
  
  label
    display: block
    background: #04c868
    color: #fff
    border-radius: 3px
    padding: 10px
    text-align: center
    cursor: pointer
 
@import 'components/*'
