<div class="row working-header in-progress">
  <div class="col-sm-12 text-center">
    <strong>IN-PROGRESS APPLICATION</strong>
  </div>
</div>
<div class="row top-row">
  <div class="col-sm-2 col-sm-offset-1">
    <div class="logo">
      <img src="img/logo-dark.png" />
    </div>
  </div>
  <div class="col-sm-9">
    <p class="text-light site-descr">An EmberJS photo blog template. Aiming to be the most unpopular photo-sharing social network. #BigDreams</p>
  </div>
</div>
{{outlet}}
{{outlet "post-modal"}}